# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
_*.*.js
_tsconfig.json

# misc
.DS_Store
.env
npm-debug.log

# IDE
.vscode